.dark {
  background-color: #222;
  color: white;
}

img {
  max-width: 100%;
}
dt {
  cursor: pointer;
  margin: 10px;
}
dt::before {
  content: "➡️";
  width: 10px;
  height: 4px;
}
dt::after {
  content: "↴";
  margin-left: 10px;
}
dt.ativo::after {
  content: "⬏";
}
dd.ativo {
  display: block;
}
dd {
  display: none;
}
